<form [formGroup]="loginForm">

  <h2 class="title">Sign in</h2>

  <app-form-field
    class="input"
    [formGroup]="loginForm"
    [controlName]="'email'"
    [type]="'email'"
    [icon]="'fas fa-user'"
    [placeholder]="'Email'"
    [errorMessages]="{
      email: 'Please enter a valid email'
    }"
  >
  </app-form-field>

  <app-form-field
    class="input"
    [formGroup]="loginForm"
    [controlName]="'password'"
    [type]="'password'"
    [icon]="'fas fa-lock'"
    [placeholder]="'Password'">
  </app-form-field>

  <app-form-button
    [form]="loginForm"
    [buttonText]="'CONTINUE'"
    (onSubmit)="onFormSubmit()">
  </app-form-button>
</form>
