.dialog {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 400px;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 48px;
  width: 100%;
  text-align: left;
}

.input {
  width: 100%;
  margin: 0.2em 0;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.tag-input {
  width: 100%;
}

.tag-input h2 {
  margin: 0;
}

.input-wrap {
  border: 1px #888 solid;
  border-radius: 5px;
  display: flex;
  margin: 1em 0;
}

.input-wrap input {
  background: none;
  border: none;
  padding: 0.5em;
  width: 100%;
}

.input-wrap input:focus {
  outline: none;
}

.input-wrap input,
.input-wrap input::placeholder,
.tag-input small {
  color: #888;
}

.input-wrap span {
  margin: 0 0.5em 0 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
}

.tag {
  background: var(--light-blue);
  border-radius: 5px;
  padding: 0.2em 0.5em;
  display: inline-block;
  margin: 0.2em;
}

.tag span {
  font-size: 0.8em;
  cursor: pointer;
}

.tag b {
  padding-bottom: 1em;
}

.tags {
  margin-bottom: 1.5em;
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
}




.input-field {
  display: grid;
  grid-template-columns: 48px 1fr;
  height: 55px;
  padding: 0 0.4rem;
  margin: 16px 0;
  background-color: #f0f0f0;
  border-radius: 55px;
}

.input-field-error {
  outline: 1px solid red;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  width: 100%;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.05rem;
  color: #333;
}

.error-text {
  grid-column: span 2;
  font-size: 14px;
  font-weight: 400;
  color: red;
  padding-left: 16px;
  padding-top: 4px;
}

.file-input-container {
  width: 100%;
}

.upload-box {
  width: 100%;
  font-size: 16px;
  background: white;
  border-radius: 50px;
  border: 2px solid var(--grey);
}

::-webkit-file-upload-button {
  color: white;
  background: #4d84e2;
  padding: 20px;
  border: none;
  border-radius: 50px;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: #3C91E6;
  cursor: pointer;
}
