.input-field {
  display: grid;
  grid-template-columns: 48px 1fr;
  height: 55px;
  padding: 0 0.4rem;
  margin: 16px 0;
  background-color: #f0f0f0;
  border-radius: 55px;
}

.input-field-error {
  outline: 1px solid red;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  width: 100%;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.05rem;
  color: #333;
}

.error-text {
  grid-column: span 2;
  font-size: 14px;
  font-weight: 400;
  color: red;
  padding-left: 16px;
  padding-top: 4px;
}
