  <div class="find-friends-header">
    <div class="heading">Add permission</div>
    <div class="search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Enter email..." (keyup.enter)="onEnter($event)">
    </div>

    <mat-form-field>
      <mat-label>Permission</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="viewer">Viewer</mat-option>
        <mat-option value="editor">Editor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
