img {
  color: red;  /* Changes the color of all <img> elements */
}

td {
  padding: 16px 0;
}

tr {
  vertical-align: middle;
  width: 100%;
}

tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

tr:hover {
  background: var(--grey);
}

tr td .status {
  font-size: 12px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

main .table-data .order table tr td .status.approved {
  background: var(--green);
}

main .table-data .order table tr td .status.pending {
  background: var(--yellow);
}

main .table-data .order table tr td .status.expired {
  background: var(--orange);
}

main .table-data .order table tr td .status.rejected {
  background: var(--red);
}

main .table-data .order table tr td .type {
  font-size: 12px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;

  background: var(--dark-grey);
}
