<tr>
  <td>
    <img [ngSrc]="getImageSrc()" width="60" height="40" alt="">
    <p>{{ file?.name }}</p>
  </td>
  <td>{{ getCreationTime() }}</td>
  <td>{{ getLastModifiedTime() }}</td>
  <td>
    <button mat-icon-button [matMenuTriggerFor]="fileMenu" (click)="$event.stopPropagation();">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item (click)="downloadFile()">
        <mat-icon>download</mat-icon>
        <span>Download</span>
      </button>
      <button mat-menu-item (click)="openAddPermissionDialog()">
        <mat-icon>add</mat-icon>
        <span>Add permission</span>
      </button>
      <button mat-menu-item (click)="openAddPermissionDialog()">
        <mat-icon>remove</mat-icon>
        <span>Remove permission</span>
      </button>
      <button mat-menu-item (click)="openEditFileDIalog()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteFile()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </td>
</tr>
